node_modules/
setup_structure.sh
client_old/

# Dependencies
/node_modules
/client/node_modules
/server/node_modules

# Environment Variables - DO NOT COMMIT THIS FILE
/server/.env

# Production build folder
/client/dist

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db
